:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --verde: #00FF00;
    --rojo: #FF0000;
    --amarillo: #FFC107;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Krub', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    color: var(--blanco);
    line-height: 2;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.centrar-texto {
    text-align: center;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.separador-w100 {
    height: .7rem;
    width: 100rem;
    background-color: var(--verde);
    border-radius: 1rem;
    margin: 4rem auto;
}

a {
    text-decoration: none;
    color: var(--blanco);
}
h1,h2,h3,h4 {
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/*** Header ***/
.header {
    background-image: url("../img/fondo.jpg");
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.header__abs {
    position: absolute;
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    
}
.header__enlace {
    text-decoration: none;
}
.header__titulo {
    font-weight: 400;
    color: var(--blanco);
    margin: 0;
}
.header__tnegritas {
    font-weight: 700;
}
.header__texto {
    text-align: center;
    padding-top: 15rem;
}

/* Navegacion */
.navegacion {
    display: flex;
    gap: 3rem;
}
.navegacion__enlace {
    font-size: 2rem;
    transition: color .3s ease-in;
}

.navegacion__enlace:hover {
    color: var(--verde);
}

.header__ubicacion {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header__ubicacion p {
    margin-bottom: 0;
}

/* Nuestros Servicios */
.principal {
    margin-top: 4rem;
    color: var(--negro);
}

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3 {
    font-weight: 400;
}
.servicio p{
    text-align: center;
}
.iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--amarillo);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Porque Comprar */
.seccionComprar {
    color: var(--negro);
}
.bloques {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}
.bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bloque h4 {
    font-weight: 400;
}
.bloque p {
    text-align: center;
}

/*** Footer ***/
.footer {
    background-color: var(--negro);
    margin-top: 4rem;
    padding: 2rem 0;
}
.footer__social {
    justify-content: space-between;
    align-items: center;
}
.footer__social p {
    font-weight: 700;
}
.social {
    display: flex;
    gap: 3rem;
}